html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  border: 0;
}
img {
  width: 100%;
}

.main-menu button {
  margin-top: 0;
}
.wrapper {
  display: flex;
  gap: 1%;
}
.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.content img {
  height: 250px;
}

.nav-container {
  position: sticky;
  top: -10%;
  background: var(--text-color-inverted);
  z-index: 998;
}

@media (min-width: 800px) {
  .side-bar,
  .nav {
    position: sticky;
    top: 13%;
  }
}
